@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* +++++++++++
HOME PAGE
+++++++++++ */

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

body {
  background-color: #D8F7FF;
}

.nav_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 3vh;
  z-index: 1000;
}

.page_button {
  margin: 0 1vw;
  font-family: 'Source Sans Pro';
  font-size: 2vh;
  text-transform: uppercase;
  animation: pulse_small 5s infinite;
  box-shadow: 0.5mm 0.5mm 0mm #F05A28;
  opacity: 0.4;
}

.page_button:hover {
  opacity: 1;
}

.container {
  margin-top:100vh;
  position: relative;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  margin-bottom: 500vh;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Damion';
  font-size: 60px;
  -webkit-text-stroke: 0.5px #000000;
  color: white;
}

.tic {
  visibility: hidden;
  animation: tic_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #29B473,
  4px 4px 0 #29B473;
}
.tac {
  visibility: hidden;
  animation: tac_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #F9EC31,
  4px 4px 0 #F9EC31;
}
.toe {
  visibility: hidden;
  animation: toe_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #F05A28,
  4px 4px 0 #F05A28;
}

@keyframes tic_animation {
  from {
             visibility:hidden;
          }
      20% {
             visibility:hidden;
          }
      to {
             visibility:visible;
       }
}
@keyframes tac_animation {
  from {
             visibility:hidden;
          }
      40% {
             visibility:hidden;
          }
      to {
             visibility:visible;
       }
}
@keyframes toe_animation {
  from {visibility:hidden;}
      60% {visibility:hidden;}
      to {visibility:visible;}
}

.start_button_container {
    position: absolute;
    bottom: 10vh;
}

.start_game {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  animation: fadeIn 2.1s,
            pulse 4s infinite;
  animation-fill-mode: forwards;
  visibility: hidden;
  box-shadow: 0.5mm 0.5mm 0mm #F05A28;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform:scale(1);}
}
@keyframes pulse_small {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform:scale(1);}
}

/* +++++++++
PLAYER CHOICE
+++++++++ */

.player_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: none;
  z-index: -1000;
}

.player_choice_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player_box {
  border: 1px solid #EF805B;
  box-shadow: 1mm 1mm 0mm #F05A28;
  background: #FFB096;
  margin-top: 5vh;
  width: 30vw;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player_choice_title {
  border:none;
  background-image:none;
  background-color:transparent;
  outline: none;

  text-align: center;
  font-family: 'Damion';
  font-size: 1.2em;
  padding-bottom: 1.5vh;
  border-bottom: 1vh solid #F05A28;
  /* -webkit-text-stroke: 0.5px #000000; */
  text-shadow:
  1px 3px 0 #000000,
  1px 3px 0 #000000;
}

.player_choice_grid {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.choice_box {
  width: 5vw;
  height: 5vw;
  margin: 0.5vw 1vw;
}

.choice_button {
  outline: none;
  border: none;
  width: inherit;
  height: inherit;
  background: #FFB096;
  box-shadow: 1mm 1mm 0mm #F05A28;
}

.choice_active {
  border: 2px solid white;
  box-shadow: 1mm 1mm 0mm #FFFFFF;
}

.pressed_choice {
  box-shadow: 0mm 0mm 0mm #F05A28;
}


/* +++++++++
GAME PAGE
+++++++++ */

.mountains {
  z-index: -10;
}

.c1{
  position:absolute;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 90px solid #385B6B;
  border-bottom: 50px solid transparent;;
  bottom: 10vh;
}
.c1::before{
  content:"";
  position:absolute;
 width:30px;
  height:21px;
  background:#385B6B;
  margin:-49px 88px
}
.c1::after{
  content:"";
  position:absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #385B6B;
  margin:-60px 65px
}
.c2{
  position:absolute;
  border-bottom: 30px solid #0D4D6B;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  width: 30px;
  bottom: 18vh;
  left: 6.5vw;
}
.c2::before{
  content:"";
  position:absolute;
  border-bottom: 21px solid #0D4D6B;
  border-left: 12px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  width: 30px;
  margin:-1vh -1vw;
}
.c2::after{
  content:"";
  position:absolute;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 90px solid #0D4D6B;
  border-bottom: 50px solid transparent;;
  margin:-4.5vh -1vw;
}
.c3{
  position:absolute;
  border-bottom: 70px solid #0D4D6B;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 50px;
  bottom: 16vh;
  left: 10vw;
}
.c3::before{
  content:"";
  position:absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid #0D4D6B;
  margin:-3vh 1vw;

}

.sea{
  position:absolute;
  width:100vw;
  height:10vh;
  background: rgb(70,180,214);
  background: -moz-linear-gradient(top,  rgba(70,180,214,1) 0%, rgba(168,221,237,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(70,180,214,1) 0%,rgba(168,221,237,1) 100%);
background: linear-gradient(to bottom,  rgba(70,180,214,1) 0%,rgba(168,221,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b4d6', endColorstr='#a8dded',GradientType=0 );
  bottom: 10vh;
  z-index: -0.5;
  }


.background_base {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #F5F1C0;
  z-index: -1;
}

.background_lower {
  position: absolute;
  background-color: #F5F1C0;
  z-index: -10;
}

#sun {
  top: 0vh;
  left: 0vw;
  margin: auto;
  position: absolute;
  height: 20em;
  width: 20em;
  animation-timing-function: linear;
  animation: sun_pulse 2s infinite;
  background-color: yellow;
  border-radius: 50%;
  background: radial-gradient(#F9F4A7 20%, yellow);
  z-index: -5;
}


.cloud_one {
  width: 30vw;
  position: absolute;
  right: -5vw;
  top:30vh;
}

.cloud_two {
  width: 50vw;
  position: absolute;
  right: 50vw;
  top:40vh;
}

.cloud_three {
  width: 20vw;
  position: absolute;
  right: 30vw;
  top:120vh;
}

.cloud_four {
  width: 60vw;
  position: absolute;
  right: -20vw;
  top:170vh;
}

.cloud_five {
  width: 20vw;
  position: absolute;
  right: 80vw;
  top:250vh;
}

.cloud_six {
  width: 30vw;
  position: absolute;
  right: 40vw;
  top:280vh;
}

.cloud_seven {
  width: 30vw;
  position: absolute;
  right: 85vw;
  top:320vh;
}

.cloud_eight {
  width: 50vw;
  position: absolute;
  right: 10vw;
  top:310vh;
}

.cloud_nine {
  width: 10vw;
  position: absolute;
  right: 10vw;
  top:430vh;
}

.cloud_ten {
  width: 30vw;
  position: absolute;
  right: 10vw;
  top:480vh;
}

.cloud_eleven {
  width: 40vw;
  position: absolute;
  right: 80vw;
  top:520vh;
}

.cloud_twelve {
  width: 20vw;
  position: absolute;
  right: 30vw;
  top:660vh;
  z-index: -1;
}

.cloud_thirteen {
  width: 20vw;
  position: absolute;
  right: 0vw;
  top:800vh;
  z-index: -1;
}


@keyframes sun_pulse {
  0% {background: radial-gradient(#F9F4A7 20%, yellow);}
  50% {background: radial-gradient(#F9F4A7 30%, yellow);}
  100% {background: radial-gradient(#F9F4A7 20%, yellow);}
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.title {
  margin: 5vh 1vw;
  font-family: 'Damion';
  font-size: 5vw;
  line-height: 3.5vw;
  letter-spacing: 1vw;
  -webkit-text-stroke: 0.1px #000000;
  color: #FFFFFF;
}

.game_title_tic {
  text-shadow:
  2px 2px 0 #29B473,
  2px 2px 0 #29B473;
}

.game_title_tac {
  text-shadow:
  2px 2px 0 #F9EC31,
  2px 2px 0 #F9EC31;
}

.game_title_toe {
  text-shadow:
  2px 2px 0 #F05A28,
  2px 2px 0 #F05A28;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
}

.game_board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid #EF805B;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 1mm 1mm 0mm #F05A28;
}

.button {
  outline: none;
  border: none;
  width: inherit;
  height: inherit;
  background-color: #FFB096;
}

/* +++++++++
CHOICE ARRAY
+++++++++ */

.one {
  background-color: #ED3318;
}

.two {
  background-color: #1B75BB;
}

.three {
  background-color: #29B473;
}

.four {
  background-color: #007F70;
}
.five {
  background-color: #FFF05A;
}
.six {
  background-color: #F2307D;
}
.seven {
  background-color: #4C147A;
}
.eight {
  background-color: #7ADBB9;
}

.nine{
  background-color: #AFC945;
}

.ten {
  background-color:#A6D3CE;
}

.eleven {
  background-color: #E58B0F;
}

.twelve {
  background-color: #FF32C8;
}

.one_title {
  color: #ED3318;
}

.two_title {
  color: #1B75BB;
}

.three_title {
  color: #29B473;
}

.four_title {
  color: #007F70;
}
.five_title {
  color: #FFF05A;
}
.six_title {
  color: #F2307D;
}
.seven_title {
  color: #4C147A;
}
.eight_title {
  color: #7ADBB9;
}

.nine_title {
  color: #AFC945;
}

.ten_title {
  color:#A6D3CE;
}

.eleven_title {
  color: #E58B0F;
}

.twelve_title {
  color: #FF32C8;
}

.active_first {
  background-color: #29B473;
}

.active_second {
  background-color: #F9EC31;
}

.reset_game {
  font-family: 'Source Sans Pro';
  box-shadow: 0.5mm 0.5mm 0mm #F05A28;
  margin-top: 5vh;
  text-transform: uppercase;
  visibility: hidden;
}

.active_reset {
  visibility: visible;
}

.reset_game_container {
  text-align: center;
  animation: pulse 4s infinite;
  visibility: hidden;
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-family: 'Damion';
  font-size: 3vw;
  animation: pulse_small 2s infinite;
  text-align: center;
}

.first_message {
  color: #FFFFFF;
}

.turn_second {
  color: #F9EC31;
}

/* +++++++++++
STATS PAGE
+++++++++++ */

.stats_padding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F1C0;
}

.stats_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F5F1C0;
  padding-bottom: 20vh;
}

.table_container {
  margin: auto 10vw;
}

.table {
  width: 50vw;
  height: 30vh;
}
