@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* +++++++++++
HOME PAGE
+++++++++++ */

body {
  background-color: #F5F1C0;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 20px; */
  font-family: 'Damion';
  font-size: 60px;
  -webkit-text-stroke: 0.5px #000000;
  color: white;
}

.tic {
  visibility: hidden;
  animation: tic_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #29B473,
  4px 4px 0 #29B473;
}
.tac {
  visibility: hidden;
  animation: tac_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #F9EC31,
  4px 4px 0 #F9EC31;
}
.toe {
  visibility: hidden;
  animation: toe_animation 2.5s infinite;
  text-shadow:
  4px 4px 0 #F05A28,
  4px 4px 0 #F05A28;
}

@keyframes tic_animation {
  from {
             visibility:hidden;
          }
      20% {
             visibility:hidden;
          }
      to {
             visibility:visible;
       }
}
@keyframes tac_animation {
  from {
             visibility:hidden;
          }
      40% {
             visibility:hidden;
          }
      to {
             visibility:visible;
       }
}
@keyframes toe_animation {
  from {visibility:hidden;}
      60% {visibility:hidden;}
      to {visibility:visible;}
}

.start_game_container {
    position: absolute;
    bottom: 10vh;
}

.start_game {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  animation: fadeIn 2.1s,
            pulse 4s infinite;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes pulse {
  0% {transform: scale(1);}
  70% {transform: scale(1.2);}
  100% {transform:scale(1);}
}

/* +++++++++
GAME PAGE
+++++++++ */

.game_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.side_title {
  margin: 0.5vw;
  font-family: 'Damion';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  -webkit-text-stroke: 0.1px #000000;
  color: #F5F1C0;
}

.game_title_tic {

  text-shadow:
  2px 2px 0 #29B473,
  2px 2px 0 #29B473;
}

.game_title_tac {
  text-shadow:
  2px 2px 0 #F9EC31,
  2px 2px 0 #F9EC31;
}

.game_title_toe {
  text-shadow:
  2px 2px 0 #F05A28,
  2px 2px 0 #F05A28;
}

.game_board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid #EF805B;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 1mm 1mm 0mm #F05A28;
}

.button {
  outline: none;
  border: none;
  width: inherit;
  height: inherit;
  background: none;
}

.active_first {
  background-color: #29B473;
}

.active_second {
  background-color: #F9EC31;
}

.reset_game {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  visibility: hidden;
}

.active_reset {
  visibility: visible;
}

.reset_game_container {
  text-align: center;
  animation: pulse 4s infinite;
  visibility: hidden;
}

.game_message {
  font-family: 'Damion';
  font-size: 30px;
  color: black;
  /* -webkit-text-stroke: 1px black;
  color: white;*/
  text-shadow:
  2px 2px 0 #29B473,
  2px 2px 0 #29B473;
}

.turn_first {
  text-shadow:
  2px 2px 0 #29B473,
  2px 2px 0 #29B473;
}

.turn_second {
  text-shadow:
  2px 2px 0 #F9EC31,
  2px 2px 0 #F9EC31;
}
